@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400;1,500&family=Oswald:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(63, 63, 63);
}
a:active {
  color: black;
}

body {
  background-image: url("../images/mufins_back.svg");
  background-repeat: repeat-y;
}

a {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.17rem;
  text-align: center;
}

h1 {
  padding-top: 35px;
  font-size: 1.9rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}

header .divBack {
  height: 45vh;
  left: 0;
  position: absolute;
  background-image: url("../images/back_header.svg");
  border-bottom: 1.5vh solid rgb(188, 58, 65);
}
header .divHeader {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  height: 30vh;
}
header .divHeader .menu {
  background-color: rgb(249, 54, 96);
}
header .divHeader a {
  color: rgb(240, 240, 240);
}
header .divHeader a:hover {
  color: rgb(63, 63, 63);
  padding: 1px;
}
header .divHeader a:active {
  color: black;
}
header .divHeader ul {
  margin: 0px 5px;
}
header .divHeader ul li {
  list-style: none;
  margin: 0px 5px;
}
header .divHeader .rrss svg {
  margin: 0px 5px 0px 0px;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 8rem;
  height: 5rem;
}

.container {
  background-color: rgb(252, 242, 231);
  width: 75%;
  border-radius: 10px;
}

.mainIndex {
  position: relative;
}
.mainIndex img {
  padding: 10px 5px;
  width: 70%;
  max-width: 500px;
  min-width: 250px;
  min-height: 250px;
  border-radius: 30px;
  display: flex;
  margin: auto;
}
.mainIndex p {
  max-width: 50%;
  position: relative;
  top: 15px;
  padding: 0px 5px 5px 5px;
  margin-bottom: 35px;
}

footer {
  position: relative;
  width: 75%;
  max-width: 1320px;
  background-color: rgb(252, 242, 231);
  height: 30vh;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
footer div {
  height: 17vh;
}
footer div p {
  font-size: 0.8rem;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainNosotros {
  position: relative;
}
.mainNosotros .mainNosotrosLogo .carousel {
  width: min-content;
}
.mainNosotros .mainNosotrosLogo .carousel .carousel-control-next-icon, .mainNosotros .mainNosotrosLogo .carousel .carousel-control-prev-icon {
  filter: invert(1);
}
.mainNosotros .mainNosotrosLogo p {
  padding: 10px;
  margin: 0px;
  display: flex;
  align-items: center;
}
.mainNosotros .mainNosotrosLogo img {
  width: 220px;
  height: 220px;
  padding: 0px;
  margin: 0px 20px;
  border-radius: 15px;
  border-width: 10px 0px;
  border-style: solid;
  border-color: white;
}
.mainNosotros .mainNosotrosHumano p {
  padding: 5px 50px;
}
.mainNosotros .mainNosotrosHumano img {
  padding: 0px;
  margin: 0px 20px;
  border-radius: 15px;
  border-width: 10px 0px;
  border-style: solid;
  border-color: white;
  height: 500px;
  width: 300px;
}

.mainProductos {
  position: relative;
}
.mainProductos .gridProd {
  margin-bottom: 50px;
}
.mainProductos div {
  padding: 5px 10px;
}
.mainProductos img {
  width: 90%;
  max-width: 520px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  margin: auto;
}
.mainProductos p {
  margin-top: 15px;
}
.mainProductos .btn {
  background-color: rgb(255, 120, 145);
  color: white;
  border: none;
  border-radius: 10px;
  width: 110px;
}
.mainProductos .btn:hover {
  background-color: rgb(255, 90, 125);
  color: white;
}

.mainContenido {
  position: relative;
}
.mainContenido .carousel {
  width: 60%;
}
.mainContenido .carousel .carousel-control-next-icon, .mainContenido .carousel .carousel-control-prev-icon {
  filter: invert(1);
}
.mainContenido .carousel img {
  width: 100%;
  max-height: 75vh;
}
.mainContenido .customIframe {
  aspect-ratio: 5/3;
  width: 100%;
}
.mainContenido .customIframe p {
  width: 65%;
  margin: auto;
}
.mainContenido .customIframe iframe {
  width: 80%;
  height: 90%;
  display: flex;
  margin: 0px auto;
}

.mainContacto {
  position: relative;
}
.mainContacto label {
  display: block;
  margin-bottom: 10px;
}
.mainContacto h2 {
  padding-bottom: 20px;
}
.mainContacto li {
  margin-bottom: 5px;
}
.mainContacto form {
  max-width: 50vw;
}
.mainContacto input, .mainContacto textarea, .mainContacto button {
  width: 100%;
  padding: 0.5rem;
  border: 0.009px solid rgba(212, 86, 109, 0.26);
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 9px;
}
.mainContacto .btn {
  background-color: rgb(255, 120, 145);
  color: white;
  border: none;
  border-radius: 10px;
  width: 110px;
}
.mainContacto .btn:hover {
  background-color: rgb(255, 90, 125);
  color: white;
}

@media screen and (max-width: 576px) {
  .divHeader,
  .container,
  footer {
    width: 100%;
    margin: 0px;
    padding: 3px;
  }
  .divHeader .carousel, .divHeader div, .divHeader img,
  .container .carousel,
  .container div,
  .container img,
  footer .carousel,
  footer div,
  footer img {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .divHeader .menu,
  .container .menu,
  footer .menu {
    width: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
