.mainProductos {
  position: relative;
  top: 25vh;
  .gridProd {
    margin-bottom: 50px;
  }
  div {
    padding: 5px 10px;
  }
  img {
    width: 90%;
    height: 400px;
    border-radius: 15px;
    display: flex;
    margin: auto;
  }
  p {
    padding: 5px;
  }
}