@import "../abstracts/background-map";
@import "../base/paleta";
@import "../abstracts/mixins";

footer {
  position: relative;
  width: map-get($bgcontainer_img, min-w);
  max-width: 1320px;
  background-color: map-get($paleta_colores, crema-cafe);
  height: 30vh;
  padding-top: 10px;
  @include flex(center, center);
  margin-bottom: 25px;
  div {
      height: 17vh; 
    p {
      font-size: 0.8rem;
      height: 50%;
      @include flex(center, center);
    }
  }
}
 