@import "../abstracts/background-map";

footer {
  position: relative;
  top: 25vh;
  width: map-get($bgcontainer_img, min-w);
  background-color: map-get($bgcontainer_img, color);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
