@import "../abstracts/background-map";

footer {
  position: relative;
  width: map-get($bgcontainer_img, min-w);
  max-width: 1320px;
  background-color: map-get($bgcontainer_img, color);
  height: 30vh;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  div {
      height: 17vh; 
    p {
      font-size: 0.8rem;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
 