@import "../abstracts/variables";
@import "../base/paleta";
@import "../abstracts/mixins";

header {
  .divBack {
    height: 45vh;
    left: 0;
    position: absolute;
    background-image: url("../images/back_header.svg");
    border-bottom: 1.5vh solid map-get($paleta_colores, bordo-borde-header);
  }
  .divHeader {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    height: 30vh;
    .menu {
      background-color: map-get($paleta_colores, rojo-header);
    }
    a {
      color: white;
      &:hover {
        color: map-get($paleta_colores, gris-hover-link);
        padding: 1px;
      }
      &:active {
        color: black;
      }
    }
    ul {
      margin: $m-element-header;
      li {
        margin: $m-element-header;
      }
    }
    .rrss {
      @include flex(center, center);
      svg {
        margin: $m-element-header;
      }
    }
  }
}
