header {
  background-color: rgb(249, 57, 96);
  border-bottom: 1.5vh solid rgb(188, 58, 65);
  height: 40vh;
  z-index: 0;
  position: absolute;
  .divHeader {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    height: 25vh;
    a:hover {
      padding: 1px;
    }
    ul {
      margin: 0px 5px;
      li {
        list-style: none;
        margin: 0px 5px;
      }
    }
    .rrss svg {
      margin: 0px 5px 0px 0px;
    }
  }
}
