header {
  .divBack {
    height: 45vh;
    left: 0;
    position: absolute;
    background-image: url("../../images/back_header.png");
    border-bottom: 1.5vh solid rgb(188, 58, 65);
  }
  .divHeader {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    height: 30vh;
    .menu{
      background-color: rgb(249, 54, 96);
    }
    a {
      color: rgb(240, 240, 240);
      &:hover {
        color: rgb(63, 63, 63);
        padding: 1px;
      }
      &:active {
        color: black;
      }
    }
    ul {
      margin: 0px 5px;
      li {
        list-style: none;
        margin: 0px 5px;
      }
    }
    .rrss svg {
      margin: 0px 5px 0px 0px;
    }
  }
}
