@import "../abstracts/background-map";
@import "../base/paleta";

.container {
  background-color: map-get($paleta_colores, crema-cafe);
  width: map-get($bgcontainer_img, min-w);
  border-radius: map-get($bgcontainer_img, borde);
}

