$paleta_colores: (
    rosa-btn: rgb(255, 120, 145), 
    rojo-btn-hover:rgb(255, 90, 125),
    crema-cafe: rgb(252, 242, 231),
    rojo-header: rgb(249, 54, 96),
    bordo-borde-header: rgb(188, 58, 65),
    gris-hover-link: rgb(63, 63, 63),
    )