@import "../abstracts/mixins";

*{
    box-sizing: border-box;
    @include espaciadoNulo;
}
li {
    list-style: none;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    color: rgb(63, 63, 63);
  }
  &:active {
    color: black;
  }
}

  