@import "../abstracts/mixins";

@media screen and (max-width: 576px) {
  .divHeader, .responHeader, .container, footer {
    width: 100%;
    margin: 0px;
    padding: 3px;
    .carousel, div, img {
      width: 100%;
      @include espaciadoNulo;
    }
    .menu {
      width: 75%;
    }
  }
}
