
@media screen and (max-width: 576px) {
  .divHeader,
  .container,
  footer {
    width: 100%;
    margin: 0px;
    padding: 3px;
    .carousel, div, img {
      width: 100%;
      margin: 0px;
      padding: 0px;
    }   
    .menu{
        width: 75%;
    }
  }
}
