@import "variables";
@import "../base/paleta";

@mixin flex($justify, $align, $direction: row, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin espaciadoNulo {
  margin: 0px;
  padding: 0px;
}

@mixin logo {
  @include flex(center, center);
  img {
    width: 8rem;
    height: 5rem;
  }
}

@mixin boxImgNosotros {
  padding: 0px;
  margin: 0px 20px;
  border-radius: 15px;
  border-width: 10px 0px;
  border-style: solid;
  border-color: white;
}

@mixin btn {
  background-color: map-get($paleta_colores, rosa-btn);
  color: white;
  border: none;
  border-radius: 10px;
  width: 110px;
  padding: 8px;
  font-family: $fuentePrincipal;
  font-weight: map-get($f-weight, normal);
  &:hover {
    background-color: map-get($paleta_colores, rojo-btn-hover);
    color: white;
  }
}
