// Padding, Margin
$p-tittle: 10px;
$p-tittle-top: 35px;
$m-element-header: 0px 5px;

// Tipográficas
$fuentePrincipal: 'Josefin Sans', sans-serif;
$fuenteSecundaria: 'Oswald', sans-serif;
$t-center: center;